<html>
  <head>
    <title>Daily Dose of Science</title>
    <link rel="stylesheet" type="text/css" href="style2.css">
  </head>
  <body>
    <form method="POST" action="/practice"> 
    <p> First name: <input type="text" name="first_name"></p>
    <p> Last name:<input type="text" name="last_name"></p>
    </form>
  </body>
</html>